deviceId = ""
clientToken = ""
deviceName = "RaspiSonos"
deviceType = "SPEAKER"
preferredLocale = "en"
logLevel = "TRACE"

[auth]
strategy = "USER_PASS"
username = "{{SPOTIFY_EMAIL}}"
password = "{{SPOTIFY_PASSWORD}}"
blob = ""
storeCredentials = false
credentialsFile = "credentials.json"

[zeroconf]
listenPort = -1
listenAll = true
interfaces = ""

[cache]
enabled = true
dir = "./cache/"
doCleanUp = true

[network]
connectionTimeout = 10

[preload]
enabled = true

[time]
synchronizationMethod = "NTP"
manualCorrection = 0

[player]
autoplayEnabled = true
preferredAudioQuality = "VERY_HIGH"
enableNormalisation = true
normalisationPregain = +3.0
initialVolume = 65536
volumeSteps = 64
logAvailableMixers = true
mixerSearchKeywords = ""
crossfadeDuration = 0
output = "MIXER"
outputClass = ""
releaseLineDelay = 20
pipe = ""
retryOnChunkError = true
metadataPipe = ""
bypassSinkVolume = false
localFilesPath = ""

[api]
port = 24879
host = "0.0.0.0"

[proxy]
enabled = false
type = "HTTP"
ssl = false
address = ""
port = 0
auth = false
username = ""
password = ""

[shell]
enabled = false
executeWithBash = false
onContextChanged = ""
onTrackChanged = ""
onPlaybackEnded = ""
onPlaybackPaused = ""
onPlaybackResumed = ""
onPlaybackFailed = ""
onTrackSeeked = ""
onMetadataAvailable = ""
onVolumeChanged = ""
onInactiveSession = ""
onPanicState = ""
onConnectionDropped = ""
onConnectionEstablished = ""
onStartedLoading = ""
onFinishedLoading = ""